  <p *ngIf="!cats"><em>Loading...</em></p>

  <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
      <div fxLayout="row wrap">
        <div
          *ngFor="let cat of cats"
          fxFlex="25"
          fxFlex.md="33"
          fxFlex.sm="50"
          fxFlex.xs="100"
          fxLayout="column"
          style="padding: 5px;">
          <mat-card class="mat-elevation-z1">
            <img mat-card-image [src]="cat.image.url" height="200px"/>
            <mat-card-title> {{ cat.votes }} - {{ cat.name }} </mat-card-title>
            <mat-card-content> {{ cat.name }} </mat-card-content>
            <mat-card-footer>
              <!-- footer here -->
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>


